@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    background-color: theme('colors.primary');
    width: fit-content;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {
    opacity: 85%;
}

/* styles.css or global.css */
html,
body,
#__next {
    height: 100%;
}

body {
    margin: 0;
}

main {
    height: 100%;
}