@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    background-color: theme('colors.primary');
    width: fit-content;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {
    opacity: 85%;
}